.mainClass{
    max-width: 50%;
}

.headClass{
    background-color: rgb(192, 190, 190);
}

.buttonClass{
  font-size: 30px;
}

.inputClass{
    justify-items: center;
    padding-top: 3px;
    max-width: 30px;
}

.totalAndItems{
margin-right: 30px;
}